* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.bb{
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 35%, rgba(109,78,13,1) 91%);
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: end;
    margin: 17px 30px;
    font-size: 25px;
    font-weight: 700;
}

.hero {
    display: flex;
    padding: 119px;
    /* background-color: #1d1f33; */
}

.hero-right {
    width: 50%;
    display: flex;
    justify-content: end;
}

.hero-right img {
    margin-top: -43px;
}

.hero-left {
    width: 50%;
}


.hero-left p {
    padding-bottom: 30px;
    color: #2a3b2d;
}

button {
    padding: 8px;
    border-radius: 2px;
    background: var(--Primary, #FF6464);
    border: none;
}

.hero-left h1 {
    color: var(--Dark-Color, #17d1e9);
    font-family: Heebo;
    font-size: 44px;
    font-weight: 700;
    padding-bottom: 40px;
}

.section1 {

    color: var(--Dark-Color, #1d1f33);
    font-family: Heebo;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    background: rgb(13,43,109);
background: linear-gradient(0deg, rgba(13,43,109,1) 4%, rgba(34,193,195,1) 61%);
    padding-bottom: 53px;
}

.section1 h5 {
    display: inline-block;
    margin-left: 120px;
}

.section1 h6 {

    margin-left: 990px;
    display: inline-block;
    color: var(--Secondry, #00A8CC);
    font-size: 16px;
    font-weight: 400;
}

.card1,.card2 {
    display: inline-block;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
    margin-top: 10px;
    margin-left: 120px;
    padding: 10px;
    width: 35%;
}

.section1 h2 {
    font-size: 26px;
    font-weight: 700;
}

.section2 {
    
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 37%, rgba(50,13,109,1) 100%);
    padding: 170px;
    font-family: Heebo;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
}
.section2 h2{
    margin-bottom: 15px;
}

.section2 p{
    margin-top: 40px;
    color: var(--Dark-Color, #21243D);
    font-family: Heebo;
    font-size: 16px;
    font-weight: 400;
}

hr {
    width: 100%;
    
}

.section2 img {

    margin-bottom: 40px;
    margin-top: 40px;
}
.area1 , .area2 , .area3{
    display: flex;
}
.area1 h2 {
    display: inline-block;
}

label {
    display: inline-block;
    text-align: center;
    width: 60px;
    border-radius: 16px;
    background: #142850;
    margin-right: 20px;
    
}

footer {

    color: var(--Dark, #21243D);
    text-align: center;
    font-family: Heebo;
    font-size: 14px;
    font-weight: 400;
    margin-top: 188px;
    margin-bottom: 88px;
}
.illustratioins{
color: var(--Light, #8695A4);
font-family: Heebo;
font-size: 20px;
font-weight: 400;
}

footer img {
    margin: 0px 15px;
    transition: transform .9s ease-in-out;
}
footer img:hover{
    transform: rotate(3600deg);
}
.right{
    margin-top: 33px;
    margin-left: 15px;
}
